<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Money Notes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <div class="container">
            
            <a class="navbar-brand" href="/">Money Notes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <% if(user){ %>
                        <li class="nav-item active">
                            <a class="nav-link" href="/notes">Howdy, <%= user.name %> My Notes <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/auth/logout">Logout</a>
                        </li>
                    <% }else{ %>

                        <li class="nav-item">
                            <a class="nav-link" href="/auth/login">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/register">Create Free Account</a>
                        </li>

                    <% } %>

                    
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/support">Support</a>
                    </li>

                    <% if(user){ %>

                    <li class="nav-item">
                        <a class="nav-link" href="/auth/profile">Profile</a>
                    </li>

                    <% } %>
                    

                </ul>
                
            </div>
        </div>
        
    </nav>
    <div class="container">
        <br>
        <% if(flash_info) { %>
            <% for(var i=0; i<flash_info.length; i++){ %>
                <p class="alert alert-danger">
                    <%= flash_info[i].msg %>
                </p>
                <% } %>
                <% } %>
                
                <% if(flash_success) { %>
                    <% for(var i=0; i<flash_success.length; i++){ %>
                        <p class="alert alert-success">
                            <%= flash_success[i] %>
                        </p>
                        <% } %>
                        <% } %>

                        <% if(flash_error) { %>
                            <% for(var i=0; i<flash_error.length; i++){ %>
                                <p class="alert alert-danger">
                                    <%= flash_error[i] %>
                                </p>
                                <% } %>
                                <% } %>
                        
                        